<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="menuLayout :: head"></head>
<body>

	<header th:replace="menuLayout :: header"></header>

	<div class="container">
		<h1 class="text-success" th:text="${header}"></h1>

		<form th:action="@{/users/save}" th:object="${user}" method="post">
			<div class="form-group row">
				<label class="col-form-label col-sm-2">User Name:</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{user_name}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('user_name')}" th:errors="*{user_name}"></small>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2">Password:</label>
				<div class="col-sm-6">
					<input type="password" th:field="*{password}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2">Section:</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{section}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('section')}" th:errors="*{section}"></small>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2">Registration Date:</label>
				<div class="col-sm-6">
					<input type="text" placeholder="e.g. 2020-01-01"
						th:field="*{registrationDate}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('registrationDate')}"
						th:errors="*{registrationDate}"></small>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" value="Add User" class="btn btn-primary"
						style="position: absolute;" />
				</div>
			</div>
		</form>
	</div>
	<footer th:replace="menuLayout :: footer"></footer>

</body>
</html>