<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="menuLayout :: head">
</head>
<body>
	<header th:replace="menuLayout :: header"></header>



	<div class="container py-3">
		<div class="card">
			<div class="card-header">
				<h1 th:text="${header}" class="text-success"></h1>
			</div>
			<div class="card-body">

				<span class="text-secondary">Users List using Bootstrap CDN</span> <br>
				<h4 class="card-title">
					<a th:href="@{/users/save}" class="btn btn-success btn-xs"
						style="position: absolute; right: 150px;"> Register New</a>
				</h4>

				<br> <br>

				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID:</th>
							<th>UserName:</th>
							<th>Password:</th>
							<th>Section:</th>
							<th>Registration Date:</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c: ${usersList}">
							<td th:text="${c.id}"></td>
							<td th:text="${c.user_name}"></td>
							<td th:text="${c.password}"></td>
							<td th:text="${c.section}"></td>
							<td th:text="${c.registrationDate}"></td>
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/users/save/} + ${c.id}">Edit</a> <a
								class="btn btn-danger btn-xs"
								th:href="@{/users/delete/} + ${c.id}"
								onclick="return confirm('Are you sure to delete the Customer?  ')">Delete</a>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>

	<footer th:replace="menuLayout :: footer"></footer>

</body>
</html>